{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    ["@emotion"],
    ["inline-react-svg"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }]
  ]
}
