html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: visible !important;
  padding-right: 0px !important;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  width: 10px;
  background-color: #cccccc;
}

svg {
  pointer-events: none;
}

/* rgba(79, 79, 79, 1) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px #266798 inset !important;
  background-color: #266798 !important;
  background-clip: content-box !important;
}
